[submodule ".vim/bundle/nerdtree"]
	path = .vim/pack/scrooloose/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/rainbow"]
	path = .vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule ".vim/bundle/vim-syntax-extra"]
	path = .vim/bundle/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra
[submodule ".vim/pack/tpope/start/vim-surround"]
	path = .vim/pack/tpope/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/tpope/start/vim-repeat"]
	path = .vim/pack/tpope/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/pack/scrooloose/nerdcommenter"]
	path = .vim/pack/scrooloose/opt/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule ".vim/pack/tpope/start/vim-commentary"]
	path = .vim/pack/tpope/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/colors/vim-nachtleben"]
	path = .vim/colors/vim-nachtleben
	url = git@github.com:schickele/vim-nachtleben
[submodule ".vim/colors/vim-mycontrast"]
	path = .vim/colors/vim-mycontrast
	url = git@github.com:napcs/vim-mycontrast
[submodule ".vim/bundle/vim-argumentative"]
	path = .vim/bundle/vim-argumentative
	url = git@github.com:PeterRincker/vim-argumentative.git
[submodule ".vim/bundle/terminus"]
	path = .vim/bundle/terminus
	url = git@github.com:wincent/terminus.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule ".vim/colors/vim"]
	path = .vim/colors/vim
	url = git@github.com:s3543536/vim.git
[submodule ".vim/pack/lyuts/start/vim-rtags"]
	path = .vim/pack/lyuts/start/vim-rtags
	url = https://github.com/lyuts/vim-rtags.git
[submodule ".vim/pack/dense-analysis/start/ale"]
	path = .vim/pack/dense-analysis/start/ale
	url = git@github.com:dense-analysis/ale
[submodule ".vim/pack/junegunn/start/vim-easy-align"]
	path = .vim/pack/junegunn/start/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align
[submodule ".vim/pack/idanarye/start/vim-vebugger"]
	path = .vim/pack/idanarye/start/vim-vebugger
	url = git@github.com:idanarye/vim-vebugger.git
[submodule ".vim/depend/vimproc.vim"]
	path = .vim/depend/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule ".vim/pack/sjl/start/gundo.vim"]
	path = .vim/pack/sjl/start/gundo.vim
	url = git@github.com:sjl/gundo.vim
[submodule ".vim/pack/junegunn/start/fzf.vim"]
	path = .vim/pack/junegunn/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/depend/fzf"]
	path = .vim/depend/fzf
	url = git@github.com:junegunn/fzf.git
