[user]
	name = Angel English
	email = angele@blackmagicdesign.com
[core]
	excludesfile = ~/.cvsignore
	# pager = less -x1,5
	pager = delta
[rerere]
	enabled = true
[pull]
	ff = only
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	me = merge
	ma = machete
	maa = machete add
	mas = machete status
	s = status
	sw = switch
	st = stash
	b = branch
	ba = branch -a
	bd = branch -d
	bD = branch -D
	bt = "!f() { git branch --track $1 origin/$1; }; f"
	c = commit
	cm = commit -m
[delta]
	line-numbers = true
	zero-style = dim syntax
	syntax-theme = Dracula
	navigate = true
[interactive]
	diffFilter = delta --color-only
[push]
	default = current
