[user]
	name = Angel English
	email = angele@blackmagicdesign.com
[core]
	excludesfile = ~/.cvsignore
	pager = less -x1,5
[rerere]
	enabled = true
[pull]
	ff = only
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
