[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/rainbow"]
	path = .vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule ".vim/bundle/vim-syntax-extra"]
	path = .vim/bundle/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra
[submodule ".vim/colors/vim-srcery"]
	path = .vim/colors/vim-srcery
	url = https://github.com/roosta/vim-srcery
[submodule ".vim/pack/tpope/start/vim-surround"]
	path = .vim/pack/tpope/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/tpope/start/vim-repeat"]
	path = .vim/pack/tpope/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
